<div id="footer">
  <div id="footer-container">
    <div id = "footer-container-overlay">
        <div id="container">
            <div class = "row footer-naviagation">
              <div class = "col-md-3">
                <h5>About us</h5>
                <ul>
                  <li>About Canvas Day</li>
                  <li>Contact us</li>
                  <li>Media</li>
                  <li>Gifts</li>
                  <li>Careers</li>
                  <li>Testimonials</li>
                </ul>
              </div>
              <div class = "col-md-3">
                <h5>Products</h5>
                <ul>
                  <li>Options</li>
                  <li>Prices</li>
                  <li>Filters</li>
                  <li>Why choose us?</li>
                  <li>Print mosaics</li>
                  <li>Print collages</li>
                </ul>
              </div>
              <div class = "col-md-3">
                <h5>Create & Order</h5>
                <ul>
                  <li>Create your canvasy</li>
                  <li>Checkout</li>
                  <li>Register</li>
                  <li>Buy a gift card</li>
                </ul>
              </div>
              <div class = "col-md-3">
                <h5>Affiliates & Partners</h5>
                <ul>
                  <li>Partners</li>
                  <li>Professional Partners</li>
                  <li>Affiliate Program</li>
                  <li>API Partners</li>
                  <li>Corporate Art</li>
                </ul>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>